* {
    box-sizing: border-box;
}

.loader {
    display: block;
    width: 100%;
    height: 20px;
    background: url('blue_bar.gif') repeat;
}

#photo-list {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#photo-list .photo {
    flex: auto;
}

.photo {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    border: 1px solid gray;
    box-shadow: 4px 4px 8px 0 gray;
    margin: 1%;
    width: 23%;
    padding: 10px;
}

.photo .image {
    width: 100%;
    height: 300px;
    background: no-repeat center;
    background-size: contain;
    margin-bottom: 10px;
}

.photo .prop {
    line-height: 1.5em;
    max-height: 4.5em;
    overflow: hidden;
}

.photo .error {
    color: #ff6666;
    font-style: italic;
}